@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
} 

body {

    /* estilo de letra */
    font-family: "Roboto", sans-serif;

}




h2 {
    color: #3b3837;
}

/*esto es para titulo*/
h1 {

    color: #3b3837;
}

h2 {
    color:#3b3837;
}
#segundoh2 {
    color: #3b3837;
}   

header{
    background-image:url("./img/logo-berebies-fondo-transparente.png");
    width: 100%;
}

.fondos {

    background-color: rgb(239, 137, 192);
    width: 100%;
   
}